@import "tailwindcss";


body {
  font-family: var(--font-montserrat), sans-serif;
}

:root {
  --color-bg: #030e1d;
  --color-navbar: #141C27;
  --color-fringe: #0f1927;
}

@keyframes openMenu {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.animate-openMenu {
  animation: openMenu 0.4s ease-out forwards;
  transform-origin: top;
}

#flip {
  height: 75px; 
  overflow: hidden;
}

#flip > div:first-child {
  animation: show 7s linear infinite;
}

#flip > div > div {
  display: inline-block;
  height: 60px;
  margin-bottom: 30px; 
  font-weight: bold;
  text-transform: uppercase;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}



.path-animate {
  stroke-dasharray: 500; 
  stroke-dashoffset: 500;
  animation: draw 2s forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.path-animate-floating {
  animation: float 3s linear infinite;
  transform-origin: 30% 20%;
}

@keyframes float {
  0%   { transform: translate(0px, 0px) rotate(0deg); }
  25%  { transform: translate(2px, -2px) rotate(-1deg); }
  50%  { transform: translate(0px, -3px) rotate(0deg); }
  75%  { transform: translate(-2px, 2px) rotate(1deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}


